body {
	background-color: black;
}
button {
	color: black;
	font-size: 25px;
	padding: 20px;
	background-color: white;
	border: none;
	font-weight: bold;
	font-family: Calibri;
	margin-top: 40vh;
	margin-left: 50vw;
	border-radius: 5px;
}
button:hover, button:focus {
	cursor: pointer;
	background-color: yellow;
	color: red;
	outline: none;
	box-shadow: 3px 4px 79px 0px rgba(255,255,255,1);
	transition: box-shadow 0.2s ease-in-out;
}